In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./data/raw_results.csv')
df.head()

,Date,Round,Region,Winning Seed,Winner,Winning Score,Losing Seed,Loser,Losing Score,Overtime
0,3/14/85,Round of 64,East,1,Georgetown,68,16,Lehigh,43,NaN
1,3/14/85,Round of 64,East,4,"Loyola, Illinois",59,13,Iona,58,NaN
2,3/14/85,Round of 64,East,5,Southern Methodist,85,12,Old Dominion,68,NaN
3,3/14/85,Round of 64,East,8,Temple,60,9,Virginia Tech,57,NaN
4,3/14/85,Round of 64,Midwest,1,Oklahoma,96,16,North Carolina A&T,83,NaN

In [4]:
df.dtypes

Date             object
Round            object
Region           object
Winning Seed      int64
Winner           object
Winning Score     int64
Losing Seed       int64
Loser            object
Losing Score      int64
Overtime         object
dtype: object

In [5]:
df['Year'] = df['Date'].astype(str).str[-2:]

In [6]:
df.head()

,Date,Round,Region,Winning Seed,Winner,Winning Score,Losing Seed,Loser,Losing Score,Overtime,Year
0,3/14/85,Round of 64,East,1,Georgetown,68,16,Lehigh,43,NaN,85
1,3/14/85,Round of 64,East,4,"Loyola, Illinois",59,13,Iona,58,NaN,85
2,3/14/85,Round of 64,East,5,Southern Methodist,85,12,Old Dominion,68,NaN,85
3,3/14/85,Round of 64,East,8,Temple,60,9,Virginia Tech,57,NaN,85
4,3/14/85,Round of 64,Midwest,1,Oklahoma,96,16,North Carolina A&T,83,NaN,85

In [9]:
dictionary = {'National Championship': 0, 
              'National Semifinals': 1, 
              'Elite Eight': 2, 
              'Sweet Sixteen': 3, 
              'Round of 32': 4, 
              'Round of 64': 5, 
              'Opening Round': 6}

In [18]:
df['RoundNumber'] = df.Round.map(lambda x: dictionary[x])

In [20]:
df.tail()

,Date,Round,Region,Winning Seed,Winner,Winning Score,Losing Seed,Loser,Losing Score,Overtime,Year,RoundNumber
2045,3/27/16,Elite Eight,East,1,North Carolina,88,6,Notre Dame,74,NaN,16,2
2046,3/27/16,Elite Eight,Midwest,10,Syracuse,68,1,Virginia,62,NaN,16,2
2047,4/2/16,National Semifinals,NaN,1,North Carolina,83,10,Syracuse,66,NaN,16,1
2048,4/2/16,National Semifinals,NaN,2,Villanova,95,2,Oklahoma,51,NaN,16,1
2049,4/4/16,National Championship,NaN,2,Villanova,77,1,North Carolina,74,NaN,16,0

In [21]:
df_new = df[['Winner', 'Loser', 'Year', 'RoundNumber']]

In [23]:
df_new.head()

               Winner               Loser Year  RoundNumber
0          Georgetown              Lehigh   85            5
1    Loyola, Illinois                Iona   85            5
2  Southern Methodist        Old Dominion   85            5
3              Temple       Virginia Tech   85            5
4            Oklahoma  North Carolina A&T   85            5

In [40]:
list_of_losers = []

for index, row in df_new.iterrows():
    loser = row.Loser
    rd = row.RoundNumber
    year = row.Year
    list_of_losers.append({'Team': loser, 'Round': rd, 'Year': year})
    if rd is 0: 
        list_of_losers.append({'Team': row.Winner, 'Round': rd-1, 'Year': year})
    
targets = pd.DataFrame(list_of_losers)
targets['Round'] = targets['Round'] + 1
targets

      Round                        Team Year
0         6                      Lehigh   85
1         6                        Iona   85
2         6                Old Dominion   85
3         6               Virginia Tech   85
4         6          North Carolina A&T   85
5         6                  Iowa State   85
6         6                  Pittsburgh   85
7         6         Southern California   85
8         6      Middle Tennessee State   85
9         6                        Ohio   85
10        6                Oregon State   85
11        6                      Purdue   85
12        6                    Southern   85
13        6             San Diego State   85
14        6                        Iowa   85
15        6                  Washington   85
16        6                      Mercer   85
17        6                Northeastern   85
18        6               Wichita State   85
19        6                      DePaul   85
20        6                Pennsylvania   85
21        6                  Pepperdine   85
22        6              Michigan State   85
23        6                  Texas Tech   85
24        6         Fairleigh Dickinson   85
25        6                 Miami, Ohio   85
26        6                      Dayton   85
27        6             Louisiana State   85
28        6                    Marshall   85
29        6                      Nevada   85
...     ...                         ...  ...
2052      5                      Butler   16
2053      5        Arkansas-Little Rock   16
2054      5                        Utah   16
2055      5                 Connecticut   16
2056      5               Wichita State   16
2057      5                        Yale   16
2058      5           Stephen F. Austin   16
2059      5                Xavier, Ohio   16
2060      5      Middle Tennessee State   16
2061      5                        Iowa   16
2062      5                      Hawaii   16
2063      5  St. Joseph's, Pennsylvania   16
2064      5       Virginia Commonwealth   16
2065      5               Northern Iowa   16
2066      4                    Maryland   16
2067      4              Miami, Florida   16
2068      4                        Duke   16
2069      4                   Texas A&M   16
2070      4                     Indiana   16
2071      4                   Wisconsin   16
2072      4                  Iowa State   16
2073      4                     Gonzaga   16
2074      3                      Kansas   16
2075      3                      Oregon   16
2076      3                  Notre Dame   16
2077      3                    Virginia   16
2078      2                    Syracuse   16
2079      2                    Oklahoma   16
2080      1              North Carolina   16
2081      0                   Villanova   16

[2082 rows x 3 columns]

In [41]:
targets.to_csv('./data/round_team_year.csv')