In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_validate, GridSearchCV
from sklearn.ensemble import RandomForestClassifier

C:\Users\alexanjs\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
df = pd.read_csv('./data/raw_results.csv')
df.head()

,Date,Round,Region,Winning Seed,Winner,Winning Score,Losing Seed,Loser,Losing Score,Overtime
0,3/14/85,Round of 64,East,1,Georgetown,68,16,Lehigh,43,NaN
1,3/14/85,Round of 64,East,4,"Loyola, Illinois",59,13,Iona,58,NaN
2,3/14/85,Round of 64,East,5,Southern Methodist,85,12,Old Dominion,68,NaN
3,3/14/85,Round of 64,East,8,Temple,60,9,Virginia Tech,57,NaN
4,3/14/85,Round of 64,Midwest,1,Oklahoma,96,16,North Carolina A&T,83,NaN

In [3]:

df.dtypes

Date             object
Round            object
Region           object
Winning Seed      int64
Winner           object
Winning Score     int64
Losing Seed       int64
Loser            object
Losing Score      int64
Overtime         object
dtype: object

In [4]:
df['Year'] = df['Date'].astype(str).str[-2:]

In [5]:
df.head()

,Date,Round,Region,Winning Seed,Winner,Winning Score,Losing Seed,Loser,Losing Score,Overtime,Year
0,3/14/85,Round of 64,East,1,Georgetown,68,16,Lehigh,43,NaN,85
1,3/14/85,Round of 64,East,4,"Loyola, Illinois",59,13,Iona,58,NaN,85
2,3/14/85,Round of 64,East,5,Southern Methodist,85,12,Old Dominion,68,NaN,85
3,3/14/85,Round of 64,East,8,Temple,60,9,Virginia Tech,57,NaN,85
4,3/14/85,Round of 64,Midwest,1,Oklahoma,96,16,North Carolina A&T,83,NaN,85

In [6]:
dictionary = {'National Championship': 0, 
              'National Semifinals': 1, 
              'Elite Eight': 2, 
              'Sweet Sixteen': 3, 
              'Round of 32': 4, 
              'Round of 64': 5, 
              'Opening Round': 6}

In [7]:
df['RoundNumber'] = df.Round.map(lambda x: dictionary[x])

In [8]:
df.tail()

,Date,Round,Region,Winning Seed,Winner,Winning Score,Losing Seed,Loser,Losing Score,Overtime,Year,RoundNumber
2045,3/27/16,Elite Eight,East,1,North Carolina,88,6,Notre Dame,74,NaN,16,2
2046,3/27/16,Elite Eight,Midwest,10,Syracuse,68,1,Virginia,62,NaN,16,2
2047,4/2/16,National Semifinals,NaN,1,North Carolina,83,10,Syracuse,66,NaN,16,1
2048,4/2/16,National Semifinals,NaN,2,Villanova,95,2,Oklahoma,51,NaN,16,1
2049,4/4/16,National Championship,NaN,2,Villanova,77,1,North Carolina,74,NaN,16,0

In [9]:
df_new = df[['Winner', 'Loser', 'Year', 'RoundNumber']]

In [10]:
df_new.head()

               Winner               Loser Year  RoundNumber
0          Georgetown              Lehigh   85            5
1    Loyola, Illinois                Iona   85            5
2  Southern Methodist        Old Dominion   85            5
3              Temple       Virginia Tech   85            5
4            Oklahoma  North Carolina A&T   85            5

In [11]:
list_of_losers = []

for index, row in df_new.iterrows():
    loser = row.Loser
    rd = row.RoundNumber
    year = row.Year
    list_of_losers.append({'School': loser, 'Round': rd, 'Year': year})
    if rd is 0: 
        list_of_losers.append({'School': row.Winner, 'Round': rd-1, 'Year': year})
    
targets = pd.DataFrame(list_of_losers)
targets['Round'] = targets['Round'] + 1
targets.head()
targets['School'] = targets['School'].astype(str)
targets['Year'] = targets['Year'].astype('int64')
targets.dtypes

Round      int64
School    object
Year       int64
dtype: object

In [12]:
targets.to_csv('./data/round_team_year.csv')

In [13]:
stats = pd.DataFrame()

for i in range(16):
    temp = pd.read_excel('./data/'+str(2000 + i)+'-'+str(2001 + i)+'.xlsx', skiprows=1)
    temp['Year'] = i
    stats = stats.append(temp, ignore_index=True)

stats.shape

(5354, 35)

In [14]:
stats.tail()

,Rk,School,G,W,L,W-L%,SRS,SOS,W.1,L.1,...,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,Year
5349,347,Wright State,35,22,13,0.629,0.18,-1.76,13.0,5.0,...,621,0.694,232.0,1094,478,193,75,397.0,770.0,15
5350,348,Wyoming,32,14,18,0.438,0.09,2.19,7.0,11.0,...,747,0.716,181.0,989,392,132,84,358.0,594.0,15
5351,349,Xavier NCAA,34,28,6,0.824,18.58,8.43,14.0,4.0,...,857,0.730,436.0,1387,548,246,101,429.0,678.0,15
5352,350,Yale NCAA,30,23,7,0.767,9.08,-1.03,13.0,1.0,...,699,0.670,407.0,1208,452,170,137,398.0,530.0,15
5353,351,Youngstown State,32,11,21,0.344,-10.86,-0.86,6.0,12.0,...,619,0.711,283.0,1081,467,219,80,387.0,571.0,15

In [15]:
stats=stats.drop(['Rk', 'Unnamed: 16'], axis=1)

In [16]:
stats.columns

Index(['School', 'G', 'W', 'L', 'W-L%', 'SRS', 'SOS', 'W.1', 'L.1', 'W.2',
       'L.2', 'W.3', 'L.3', 'Tm.', 'Opp.', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'Year'],
      dtype='object')

In [17]:
stats['School'] = stats['School'].str.replace('NCAA', '')
stats['School'] = stats['School'].str.strip()

In [18]:
table = pd.merge(stats, targets, on=['School', 'Year'])

In [19]:
table[table['School'] == 'Duke']

,School,G,W,L,W-L%,SRS,SOS,W.1,L.1,W.2,...,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,Year,Round
12,Duke,39,35,4,0.897,32.18,11.98,13.0,3.0,13,...,0.696,538.0,1505,701,411,196,531.0,659.0,0,4
69,Duke,39,35,4,0.897,32.18,11.98,13.0,3.0,13,...,0.696,538.0,1505,701,411,196,531.0,659.0,1,0
129,Duke,33,26,7,0.788,19.86,8.38,11.0,5.0,15,...,0.712,431.0,1206,444,286,178,462.0,698.0,2,4
192,Duke,37,31,6,0.838,25.67,10.86,13.0,3.0,14,...,0.736,474.0,1351,536,340,240,511.0,699.0,3,4
252,Duke,33,27,6,0.818,23.01,10.04,11.0,5.0,14,...,0.713,432.0,1261,421,287,220,454.0,612.0,4,2
311,Duke,36,32,4,0.889,21.77,8.77,14.0,2.0,14,...,0.761,350.0,1204,546,337,202,496.0,621.0,5,4
370,Duke,33,22,11,0.667,18.85,10.49,8.0,8.0,15,...,0.689,379.0,1165,433,241,157,509.0,577.0,6,4
428,Duke,34,28,6,0.824,21.52,9.28,13.0,3.0,15,...,0.697,426.0,1255,497,295,133,462.0,654.0,7,6
496,Duke,37,30,7,0.811,20.10,9.07,11.0,5.0,16,...,0.728,490.0,1348,492,311,146,454.0,671.0,8,5
553,Duke,40,35,5,0.875,25.21,9.21,13.0,3.0,17,...,0.759,569.0,1560,555,266,162,429.0,722.0,9,4
606,Duke,37,32,5,0.865,24.51,8.32,13.0,3.0,17,...,0.753,446.0,1399,529,269,162,447.0,657.0,10,0
671,Duke,34,27,7,0.794,17.05,8.40,13.0,3.0,13,...,0.701,406.0,1152,423,210,136,415.0,626.0,11,4
730,Duke,36,30,6,0.833,21.43,9.54,14.0,4.0,16,...,0.739,337.0,1119,515,232,135,383.0,645.0,12,6
791,Duke,35,26,9,0.743,19.51,8.48,13.0,5.0,17,...,0.729,410.0,1207,509,244,105,328.0,681.0,13,3
853,Duke,39,35,4,0.897,24.97,9.87,15.0,3.0,15,...,0.699,445.0,1436,588,278,149,421.0,607.0,14,6
914,Duke,36,25,11,0.694,19.23,10.59,11.0,7.0,15,...,0.723,426.0,1296,478,226,154,354.0,603.0,15,0

In [20]:
table.shape

(965, 34)

In [21]:
table.head()

,School,G,W,L,W-L%,SRS,SOS,W.1,L.1,W.2,...,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,Year,Round
0,Appalachian State,31,11,20,0.355,-12.13,-4.24,7.0,9.0,6,...,0.675,410.0,1172,444,193,79,547.0,598.0,0,6
1,Arizona,36,28,8,0.778,26.84,12.56,15.0,3.0,13,...,0.748,487.0,1433,585,283,159,546.0,630.0,0,5
2,Arkansas,31,20,11,0.645,16.61,6.16,10.0,6.0,16,...,0.690,410.0,1100,476,365,124,451.0,654.0,0,6
3,Auburn,32,18,14,0.563,11.48,7.14,7.0,9.0,14,...,0.651,466.0,1243,495,265,155,450.0,629.0,0,5
4,Ball State,30,18,12,0.600,3.12,0.30,11.0,7.0,9,...,0.652,412.0,1152,381,153,98,402.0,527.0,0,6

In [22]:
table = table.fillna(0)

In [23]:
table.to_csv('./data/dataset.csv')
print(table.shape)

(965, 34)

In [24]:
table.Round.value_counts()

6    460
5    239
4    119
3     61
2     32
7     22
1     16
0     16
Name: Round, dtype: int64

In [25]:
table.shape

(965, 34)

In [26]:
460/16

28.75

In [27]:
table.shape

(965, 34)

In [32]:
temp = pd.DataFrame()
temp = temp.append(table[table['Round'] == 0].sample(frac=16/len(table[table['Round'] == 0])), ignore_index=True)
temp = temp.append(table[table['Round'] == 1].sample(frac=16/len(table[table['Round'] == 1])), ignore_index=True)
temp = temp.append(table[table['Round'] == 2].sample(frac=16/len(table[table['Round'] == 2])), ignore_index=True)
temp = temp.append(table[table['Round'] == 3].sample(frac=16/len(table[table['Round'] == 3])), ignore_index=True)
temp = temp.append(table[table['Round'] == 4].sample(frac=16/len(table[table['Round'] == 4])), ignore_index=True)
temp = temp.append(table[table['Round'] == 5].sample(frac=16/len(table[table['Round'] == 5])), ignore_index=True)
temp = temp.append(table[table['Round'] == 6].sample(frac=16/len(table[table['Round'] == 6])), ignore_index=True)

# for i in range(29):
#     temp = temp.append(table[table['Round'] == 0], ignore_index=True)
# for i in range(29):
#     temp = temp.append(table[table['Round'] == 1], ignore_index=True)
# for i in range(15):
#     temp = temp.append(table[table['Round'] == 2], ignore_index=True)
# for i in range(7):
#     temp = temp.append(table[table['Round'] == 3], ignore_index=True)
# for i in range(4):
#     temp = temp.append(table[table['Round'] == 4], ignore_index=True)
# for i in range(2):
#     temp = temp.append(table[table['Round'] == 5], ignore_index=True)
# temp = temp.append(table[table['Round'] == 6], ignore_index=True)

print(temp.shape)
temp

(112, 34)

,School,G,W,L,W-L%,SRS,SOS,W.1,L.1,W.2,...,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,Year,Round
0,Duke,39,35,4,0.897,32.18,11.98,13.0,3.0,13,...,0.696,538.0,1505,701,411,196,531.0,659.0,1,0
1,Connecticut,31,23,8,0.742,18.82,7.62,13.0,3.0,14,...,0.700,478.0,1412,531,189,275,468.0,492.0,4,0
2,Duke,37,32,5,0.865,24.51,8.32,13.0,3.0,17,...,0.753,446.0,1399,529,269,162,447.0,657.0,10,0
3,Michigan State,33,28,5,0.848,25.12,9.54,13.0,3.0,17,...,0.719,514.0,1404,579,210,133,451.0,611.0,0,0
4,Florida,40,35,5,0.875,23.82,7.34,13.0,3.0,18,...,0.690,447.0,1504,614,266,194,565.0,626.0,6,0
5,Kentucky,33,21,12,0.636,13.94,5.78,12.0,6.0,16,...,0.642,379.0,1163,441,185,217,430.0,566.0,12,0
6,Connecticut,34,20,14,0.588,12.27,8.07,8.0,10.0,13,...,0.662,415.0,1151,457,199,233,418.0,492.0,11,0
7,North Carolina,37,20,17,0.541,10.14,9.83,5.0,11.0,14,...,0.653,556.0,1552,577,250,210,562.0,564.0,9,0
8,North Carolina,31,23,8,0.742,18.48,7.77,12.0,4.0,14,...,0.708,432.0,1237,552,242,127,512.0,531.0,5,0
9,Syracuse,31,23,8,0.742,13.06,7.61,11.0,5.0,14,...,0.643,423.0,1180,465,235,205,396.0,554.0,3,0
10,Duke,36,25,11,0.694,19.23,10.59,11.0,7.0,15,...,0.723,426.0,1296,478,226,154,354.0,603.0,15,0
11,Louisville,37,31,6,0.838,24.69,4.80,15.0,3.0,16,...,0.661,503.0,1396,568,370,173,391.0,723.0,13,0
12,Kansas,35,27,8,0.771,18.02,7.90,14.0,2.0,18,...,0.725,421.0,1371,555,239,155,508.0,664.0,8,0
13,Maryland,31,21,10,0.677,20.56,7.56,11.0,5.0,14,...,0.713,409.0,1241,573,322,198,431.0,588.0,2,0
14,Florida,36,24,12,0.667,12.34,4.98,8.0,8.0,18,...,0.701,427.0,1297,629,223,111,453.0,583.0,7,0
15,Connecticut,35,20,15,0.571,8.28,4.22,10.0,8.0,11,...,0.707,331.0,1178,416,166,183,404.0,573.0,14,0
16,UCLA,36,30,6,0.833,20.90,9.84,15.0,3.0,16,...,0.662,386.0,1158,507,263,116,440.0,569.0,6,1
17,Butler,38,28,10,0.737,11.53,5.02,13.0,5.0,12,...,0.726,431.0,1337,452,226,61,416.0,718.0,10,1
18,Kentucky,39,38,1,0.974,28.72,8.67,18.0,0.0,19,...,0.726,491.0,1482,553,253,268,408.0,665.0,14,1
19,Arizona,36,28,8,0.778,26.84,12.56,15.0,3.0,13,...,0.748,487.0,1433,585,283,159,546.0,630.0,1,1
20,Kansas,33,24,9,0.727,17.10,9.44,12.0,4.0,13,...,0.707,409.0,1303,572,232,165,485.0,661.0,3,1
21,Michigan,37,28,9,0.757,18.52,9.65,15.0,3.0,13,...,0.763,316.0,1160,525,191,88,336.0,527.0,13,1
22,Memphis,37,33,4,0.892,20.92,4.63,16.0,0.0,19,...,0.690,498.0,1452,526,328,222,464.0,654.0,8,1
23,Butler,37,22,15,0.595,2.86,1.14,11.0,7.0,13,...,0.649,468.0,1201,454,239,123,485.0,715.0,11,1
24,Wisconsin,35,22,13,0.629,13.40,9.40,12.0,6.0,13,...,0.703,398.0,1228,400,205,114,386.0,588.0,15,1
25,Michigan State,37,28,9,0.757,15.33,8.17,14.0,4.0,15,...,0.685,487.0,1426,606,242,123,514.0,666.0,9,1
26,Illinois,33,26,7,0.788,17.20,6.29,11.0,5.0,15,...,0.643,403.0,1179,500,203,79,406.0,584.0,5,1
27,Georgia Tech,32,20,12,0.625,17.21,9.78,8.0,8.0,13,...,0.691,400.0,1248,471,265,162,483.0,648.0,4,1
28,Florida,31,24,7,0.774,21.32,7.51,12.0,4.0,14,...,0.729,319.0,1145,538,271,114,451.0,589.0,0,1
29,Indiana,34,21,13,0.618,12.63,9.81,8.0,8.0,11,...,0.718,387.0,1234,470,146,175,392.0,613.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Gonzaga,36,29,7,0.806,15.56,5.36,15.0,3.0,15,...,0.709,343.0,1291,525,235,142,419.0,659.0,13,5
83,Kentucky,31,18,13,0.581,9.19,7.09,12.0,4.0,14,...,0.733,301.0,1038,395,206,149,490.0,586.0,7,5
84,Temple,31,9,22,0.290,2.69,6.88,4.0,14.0,4,...,0.707,383.0,1102,421,180,109,327.0,573.0,13,5
85,North Carolina-Wilmington,31,24,7,0.774,8.52,-2.80,15.0,3.0,11,...,0.692,309.0,1022,456,283,58,352.0,572.0,2,5
86,North Carolina,33,26,7,0.788,19.95,11.77,13.0,3.0,12,...,0.670,411.0,1363,576,244,184,518.0,576.0,1,5
87,Central Michigan,30,6,24,0.200,-9.38,1.52,2.0,16.0,5,...,0.678,303.0,962,438,186,59,531.0,672.0,3,5
88,Cincinnati,33,22,11,0.667,15.19,5.25,12.0,6.0,14,...,0.705,441.0,1291,508,257,192,363.0,513.0,15,5
89,West Virginia,33,19,14,0.576,12.13,7.53,9.0,9.0,11,...,0.671,493.0,1135,477,210,85,422.0,555.0,11,5
90,Notre Dame,36,21,15,0.583,12.26,8.70,8.0,10.0,15,...,0.709,440.0,1404,601,192,95,343.0,544.0,8,5
91,Texas,34,20,14,0.588,14.00,8.12,9.0,9.0,15,...,0.733,453.0,1118,419,231,125,426.0,659.0,11,5
92,Mississippi State,34,23,11,0.676,12.55,6.05,9.0,7.0,11,...,0.665,492.0,1389,475,232,114,503.0,532.0,4,5
93,Duke,37,30,7,0.811,20.10,9.07,11.0,5.0,16,...,0.728,490.0,1348,492,311,146,454.0,671.0,8,5
94,North Carolina,38,26,12,0.684,20.63,11.76,11.0,7.0,10,...,0.701,526.0,1541,661,251,160,481.0,738.0,14,5
95,Villanova,33,21,12,0.636,15.05,8.23,9.0,9.0,13,...,0.757,402.0,1223,450,208,125,392.0,578.0,10,5
96,Ohio,30,19,11,0.633,3.84,-0.50,10.0,8.0,13,...,0.695,330.0,986,427,255,70,424.0,502.0,5,6
97,Winthrop,31,23,8,0.742,6.28,-4.93,13.0,3.0,15,...,0.692,402.0,1127,490,298,102,439.0,530.0,5,6
98,Fairleigh Dickinson,32,20,12,0.625,-3.15,-5.28,14.0,4.0,11,...,0.645,377.0,1176,506,238,203,468.0,540.0,5,6
99,North Carolina-Wilmington,30,15,15,0.500,1.44,-0.46,9.0,9.0,9,...,0.676,326.0,976,360,238,38,405.0,578.0,3,6
100,Central Connecticut State,28,14,14,0.500,-8.79,-10.18,11.0,9.0,8,...,0.698,419.0,1090,337,209,91,466.0,568.0,0,6
101,New Mexico,34,27,7,0.794,12.72,4.84,15.0,3.0,13,...,0.724,360.0,1296,522,162,172,361.0,577.0,13,6
102,Charlotte,32,19,13,0.594,4.72,1.97,11.0,5.0,9,...,0.653,471.0,1238,451,220,90,410.0,569.0,5,6
103,Virginia,35,23,12,0.657,12.89,4.23,11.0,7.0,20,...,0.706,298.0,1023,491,206,154,391.0,549.0,12,6
104,Oklahoma State,32,18,14,0.563,12.95,9.63,8.0,10.0,12,...,0.726,287.0,1039,366,253,156,392.0,614.0,14,6
105,Austin Peay,32,22,10,0.688,1.42,-1.38,16.0,0.0,13,...,0.693,318.0,1090,405,218,130,440.0,558.0,3,6
106,Indiana State,34,22,12,0.647,6.95,2.50,10.0,8.0,12,...,0.705,334.0,1069,521,237,100,402.0,576.0,0,6
107,Coastal Carolina,33,21,12,0.636,-1.85,-4.22,12.0,6.0,14,...,0.665,377.0,1299,396,195,113,406.0,568.0,15,6
108,Florida A&M,29,14,15,0.483,-15.06,-9.24,10.0,8.0,7,...,0.657,0.0,1056,328,213,41,502.0,584.0,4,6
109,Florida,32,24,8,0.750,20.18,7.12,12.0,4.0,13,...,0.707,366.0,1186,475,228,146,444.0,598.0,4,6
110,Pennsylvania,31,22,9,0.710,4.16,-1.64,13.0,1.0,12,...,0.664,324.0,1024,539,263,92,433.0,573.0,6,6
111,Texas-El Paso,35,27,8,0.771,9.61,0.91,14.0,4.0,16,...,0.792,386.0,1197,579,255,104,426.0,581.0,4,6

In [35]:
temp.Round.value_counts()

6    16
5    16
4    16
3    16
2    16
1    16
0    16
Name: Round, dtype: int64

In [36]:
temp.head()

,School,G,W,L,W-L%,SRS,SOS,W.1,L.1,W.2,...,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,Year,Round
0,Duke,39,35,4,0.897,32.18,11.98,13.0,3.0,13,...,0.696,538.0,1505,701,411,196,531.0,659.0,1,0
1,Connecticut,31,23,8,0.742,18.82,7.62,13.0,3.0,14,...,0.700,478.0,1412,531,189,275,468.0,492.0,4,0
2,Duke,37,32,5,0.865,24.51,8.32,13.0,3.0,17,...,0.753,446.0,1399,529,269,162,447.0,657.0,10,0
3,Michigan State,33,28,5,0.848,25.12,9.54,13.0,3.0,17,...,0.719,514.0,1404,579,210,133,451.0,611.0,0,0
4,Florida,40,35,5,0.875,23.82,7.34,13.0,3.0,18,...,0.690,447.0,1504,614,266,194,565.0,626.0,6,0

In [37]:
table = temp
table.to_csv('./data/dataset.csv')

TODO: 

1. Add all data to the data folder and finalize the data_cleaning script. DONE
1. Use PCA DONE
2. Go through the initial testing of every classifier(regressor as well) in each of the separate documents with all data. DONE
    a. Logistic
    b. KNN
    c. Decision Tree
    d. Random Forest
    e. Boosting Tree
3. Run GridSearchCV in order to find the best one.
3. Ask Shibberu about the regressor/classifier problem where r2 is better on classifier but rmse is higher 
4. Begin analysis on all of this in order to make it the best it can be.
5. Output to file with rankings
6. Write the Paper

In [39]:
temp.columns

Index(['School', 'G', 'W', 'L', 'W-L%', 'SRS', 'SOS', 'W.1', 'L.1', 'W.2',
       'L.2', 'W.3', 'L.3', 'Tm.', 'Opp.', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'Year', 'Round'],
      dtype='object')